<!DOCTYPE html>
<html lang="us-en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="VueJS">
    <meta name="description" content="vuejs tutorials">
    <meta name="keywords" content="vue instance, directives, components">
    <meta http-equiv="refersh" content="30">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>VueJs Tutorials</title>
  </head>
  <body>
      <div id="app">
        {{title}}
          {{myOnce()}}

        <span v-once>{{title}}</span>
        <div v-html="msz"></div>
        <h3>Conditionally rendered using v-if ans v-else directive</h3>
        <div v-if="awesome">Vue is Awesome!</div>
        <div v-else>Oh!no 	&#128517;</div>
          </div>
        <h3>Conditional groups with v-if on a template element</h3>
        <div id="myTem">
        <template v-if="isRegistered">
          <label>Username:</label>
          <input type="text" placeholder='Username'/>
        </template>
        <template v-else>
          <label>Email:</label>
          <input type="email" placeholder="Email"/>
        </template>
        <button @click = "isRegistered = ! isRegistered" >Toggle</button>
      </div>

      <h3>Conditionally rendered using v-if, v-else-if and v-else directives</h3>
      <div id="myCon">
        <span v-if="status == 'recivied'">Application is recivied!</span>
        <span v-else-if="status == 'pending'">Application is pending!</span>
        <span v-else-if="status == 'process'">Application is in process!</span>
        <span v-else>Congratulations!Your application is approved.</span>
      </div>

      <h2><mark>Controlling reusable elements with key</mark></h2>
      <div id="myKey">
        <template v-if="registered">
          <label>Username:</label>
          <input type="text" placeholder="Enter your username" key="username"/>
        </template>
        <template v-else>
          <label>Email:</label>
          <input type="text" placeholder="Enter your Email address" key="email"/>
        </template>
        <button @click="registered =! registered">Toggle</button>
      </div>

      <div id="myFor">
        <ol>
          <li  v-for="item in items">
            {{item.text}}
          </li>
        </ol>
      </div>
      <div id="myOn">
        {{message}}
        <button v-on:click="reverseMessage">Reverse Message</button>
      </div>

      <div id="myModel">
        <input type="text" placeholder="Enter here :)" v-model="msz"><br/>
        {{msz}}
      </div>

      <div id="prac">
        <template v-if="login">
          <label>Firstname:</label><br/>
          <input type="text" placeholder="Enter your firstname" key="firstname"/><br/>
          <label>Lastname:</label><br/>
          <input type="text" placeholder="Enter your lastname" key="lastname"></br>
        </template>
        <template v-else>
          <labe>Email address:</label>
            <input type="email" placeholder="Enter your email address"/>
        </template>
        <button @click="login =! login">Toggle</button>
      </div>

      <div id="forDir">
        <ol>
          <li v-for="list in lists">
            {{list.con}}
          </li>
        </ol>
      </div>

      <script src="practise.js"></script>
  </body>
</html>
