
<!DOCTYPE html>
<html lang="us-en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="VueJS">
    <meta name="description" content="vuejs tutorials">
    <meta name="keywords" content="vue instance, directives, components">
    <meta http-equiv="refersh" content="30">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>VueJs Tutorials</title>
    <link rel="stylesheet" href="practise.css">
  </head>
  <body>
      <div id="app">
        {{title}}
          {{myOnce()}}
          <img v-bind:src="pic" width="70px" height="70px"/>
          <img v-bind:src="pictitle" width="90" height="70"/><br>
        <span v-once>{{title}}</span>
        <div v-html="msz"></div>
        <h3>Conditionally rendered using v-if ans v-else directive</h3>
        <div v-if="awesome">Vue is Awesome!</div>
        <div v-else>Oh!no 	&#128517;</div>
          </div>
        <h3>Conditional groups with v-if on a template element</h3>
        <div id="myTem">
        <template v-if="isRegistered">
          <label>Username:</label>
          <input type="text" placeholder='Username'/>
        </template>
        <template v-else>
          <label>Email:</label>
          <input type="email" placeholder="Email"/>
        </template>
        <button @click = "isRegistered = ! isRegistered" >Toggle</button>
      </div>

      <h3>Conditionally rendered using v-if, v-else-if and v-else directives</h3>
      <div id="myCon">
        <span v-if="status == 'recivied'">Application is recivied!</span>
        <span v-else-if="status == 'pending'">Application is pending!</span>
        <span v-else-if="status == 'process'">Application is in process!</span>
        <span v-else>Congratulations!Your application is approved.</span>
      </div>

      <h2><mark>Controlling reusable elements with key</mark></h2>
      <div id="myKey">
        <template v-if="registered">
          <label>Username:</label>
          <input type="text" placeholder="Enter your username" key="username"/>
        </template>
        <template v-else>
          <label>Email:</label>
          <input type="text" placeholder="Enter your Email address" key="email"/>
        </template>
        <button @click="registered =! registered">Toggle</button>
      </div>


      <div id="myFor">
        <ol>
          <li  v-for="item in items">
            {{item.text}}
          </li>
        </ol>
      </div>

      <div id="myOn">
        {{message}}
        <button v-on:click="reverseMessage">Reverse Message</button>
      </div>

      <div id="myModel">
        <input type="text" placeholder="Enter here :)" v-model="msz"><br/>
        {{msz}}
      </div>

      <div id="prac">
        <template v-if="login">
          <label>Firstname:</label><br/>
          <input type="text" placeholder="Enter your firstname" key="firstname"/><br/>
          <label>Lastname:</label><br/>
          <input type="text" placeholder="Enter your lastname" key="lastname"></br>
        </template>
        <template v-else>
          <labe>Email address:</label>
            <input type="email" placeholder="Enter your email address"/>
        </template>
        <button @click="login =! login">Toggle</button>
      </div>

      <div id="forDir">
        <ol>
          <li v-for="list in lists">
            {{list.con}}
          </li>
        </ol>
      </div>

      <div id="bindClass">
        <h2>Binding HTML class</h2>
        <p>Object syntax:</p>
        <h5>Single class toggled in the object</h5>
        <div :class={'background-color':background}>Background</div>
        <button v-on:click="background =! background">Toggle</button>
        <h5>Multiple classes toggled by having more fields in the object</h5>
        <div  :class="{'red-color':color, 'warning-sign':sign}">Color</div>
        <button @click="color =! color">Toggle color</button>
        <button @click="sign =! sign">Toggle Sign</button>
        <h1>Or</h1>
        <p>Binding HTML class in anothe way. We can also bind to a computed property that returns an object. This is a common and powerful patter.So that we don't need to write more code, we use div in different places</p>
        <div :class="classObject">Color</div>
        <button @click="color =! color">Toggle Color</button>
        <button @click="sign =! sign">Toggle Sign</button>
      </div>

      <div id="bindInline">
        <h1 v-bind:style="{'color':highlightColor, 'font-size':headerSize + 'px', padding:'20px'}">Binding Inline Style</h1>
        <p>Or</p>
        <p v-bind:style="paraStyleObject">Binding Inline style:As a no. of properties increases the template become clutered. For that we have to use style object</p>
      </div>

      <h1>Practise again</h1>

      <div id="pa">
        <p>conditional groups with v-if on template: Because v-if is a directive, it has to be attached to a single element. But what if we want to toggle more than one element, we can use v-if on template which serves as invisible wrapper. The final rendered result will not include the template element.<p>
        <template v-if="details">
          <label>Firstname:</label><br>
          <input type="text" placeholder="Enter your firstname" key="fname"><br>
          <label>Lastname:</label><br>
          <input type="Lastname" placeholder="Enter your lastname" key="lname"><br>
        </template>
        <template v-else>
          <label>Email Address:</label><br>
          <input type="email" placeholder="Enter your Email address" key="email"><br>
        </template>
        <button @click="details =! details">Submit</button>
      </div>
      <script src="practise.js"></script>
  </body>
</html>
