<!DOCTYPE html>
<html lang="us-en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="VueJS">
    <meta name="description" content="vuejs tutorials">
    <meta name="keywords" content="vue instance, directives, components">
    <meta http-equiv="refersh" content="30">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>VueJs Tutorials</title>
  </head>
  <body>
      <div id="app">
        {{title}}
          {{myOnce()}}

        <span v-once>{{title}}</span>
        <div v-html="msz"></div>
        <h3>Conditionally rendered using v-if ans v-else directive</h3>
        <div v-if="awesome">Vue is Awesome!</div>
        <div v-else>Oh!no 	&#128517;</div>
          </div>
        <div id="myTem">
        <template v-if="isRegistered">
          <label>Username:</label>
          <input type="text" placeholder='Username'/>
        </template>
        <template v-else>
          <label>Email:</label>
          <input type="email" placeholder="Email"/>
        </template>
        <button @click = "isRegistered = ! isRegistered" >Toggle</button>
      </div>

      <script src="practise.js"></script>
  </body>
</html>
